/* 여백 초기화 */
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption{margin:0; padding:0;}

/* a 링크 초기화 */
a {color: #222; text-decoration: none;}
a:hover {color: #2698cb;}

/* 폰트 초기화 */
body, input, textarea, select, button, table {font-family:'Noto Sans KR', AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif; color: #222; font-size: 13px; line-height: 1.5;}

/* 폰트 스타일 초기화 */
em,address {font-style: normal;}

/* 블릿기호 초기화 */
ul,li,ol {list-style:none;}

/* 제목 태그 초기화 */
h1,h2,h3,h4,h5,h6 {font-size: 13px; font-weight: normal;}

/* 테두리 초기화 */
img,fieldset {border:0 none;}

/* 버튼 초기화 */
button {border: 0;}

/* 반응형 */
video,img {width: 100%;}

/* clearfix */
.clearfix:before, .clearfix:after {display: block; content: '';line-height: 0;}
.clearfix:after {clear: both;}

/* IR 효과 */
.ir_pm {display:block; overflow:hidden; font-size:0; line-height:0; text-indent:-9999px;} /* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */
.ir_wa {display:block; overflow:hidden; position:relative; z-index:-1; width:100%; height: 100%;} /* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때(WA IR) */
.ir_so {overflow: hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px;}

/* 아이콘 이미지 최적화 작업 */
.icon {background-image: url(../img/icon.png);}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 1.5dppx){
            .icon {background-image: url(../img/icon@2.png); background-size: 500px;}
       }

/* input style */
input {background-image: none;}
input[type=button],
input[type=reset],
input[type=text],
input[type=password],
input[type=submit],
input[type=search],
input[type=tel],
input[type=email] {
    -webkit-appearance: none;
    border-radius: 0
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
input:checked[type=checkbox] {
    background-color: #666;
    -webkit-appearance: checkbox
}

/* 셀렉트 메뉴 메인 스타일 */
.ui_select2{
    width: 100%;
    box-sizing: border-box;
    background: #2c2f34;
    color: #fff;
    display: inline-block;
    height: 36px;
    border: none;
    padding: 0 10px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    vertical-align: middle;
    text-align: left;
    white-space: nowrap;
    background: #2c2f34 url(img/down.svg) no-repeat right 10px center;
    background-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* 메인 텍스트 박스 스타일1 */
.ui_input3{
    background: #2c2f34;
    color: #fff;
    border: 0;
    width: 100%;
    height: 36px;
    padding: 0 10px;
    box-sizing: border-box;
}

/* 모바일용 메뉴 */
#mNav{
    display: none;
    position: absolute;
    top: 30px;
    right: 24px;
}

.ham{
    display: block;
    width: 25px;
    height: 10px;
    padding-top: 10px 5px;
}

.ham span {display: block; width: 25px; height: 4px; background: #ed3124;}

.ham span::before {
    content: '';
    width: 25px;
    height: 4px;
    background: #ed3124;
    position: absolute;
    left: 0;
    bottom: -3px;
}

.ham span::after {
    content: '';
    width: 25px;
    height: 4px;
    background: #ed3124;
    position: absolute;
    left: 0;
    top: -8px;
}

/* 헤더 시작 */
#header{
    width: 100%;
    background-color: #fff;
}

.container{
    position: relative;
    width: 1280px;
    margin: 0 auto;
}

.header h1{
    float: left;
}

.header h1 em{
    padding: 8px 0px 3px 0;
    display: inline-block;
}

.header h1 em img{
    width: 120px;
}

.header h1 strong{
    display: block;
    position: absolute;
    left: 120px;
    top: 35px;
}

.header h1 strong img{
    width: 150px;
}

.header .nav{
    float: right;
}

.header .nav ul li{
    float: left;
    width: 85px;
    text-align: center;
    justify-content: center;
}

.header .nav ul li a{
    display: block;
    padding: 21px 5px;
    font-size: 17px;
    font-weight: 500;
    color: #444;
}

.header .nav ul li a:hover {
    color: #ed3124;
}

.header .nav ul li:nth-of-type(7) a{
    padding-right: 0;
}

/* 배너 시작 */
#banner{
    position: relative;
}

.banner_menu{
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100px;
    overflow: hidden;
    z-index: 10;
}

.banner_menu a{
    color: #fff;
    font-size: 16px;
    transition: all 0.3s;
}

.banner_menu a:hover{
    color: #c1c1c1;
}

.banner_menu .bannermenu_left{
    float: left;
}

.banner_menu .bannermenu_left ul{
    padding-top: 7px;
}

.banner_menu .bannermenu_left li{
    display: inline;
    margin-right: 30px;
    position: relative;
}

.banner_menu .bannermenu_left li.all{
 margin-right: 20px;
}

.banner_menu .bannermenu_left li.all a{
    font-size: 14px;
    padding: 3px 10px;
    display: inline-block;
    border: 1px solid #fff;
    transition: all 0.3s;
}

.banner_menu .bannermenu_left li.all a:hover{
    background: #ed3124;
    color: #fff;
    border: 1px solid #ed3124;
}

.banner_menu .bannermenu_right{
    float: right;
    overflow: hidden;
}

.banner_menu .bannermenu_right ul{
    float: left;
}

.banner_menu .bannermenu_right ul:first-child{
    padding-top: 7px;
}

.banner_menu .bannermenu_right li{
    display: inline;
    text-align: center;
    margin-right: 20px;
    position: relative;
}

.banner_menu .bannermenu_right li.line{
    margin-right: 30px;
}

.banner_menu .bannermenu_right li.time{
    margin-right: 10px;
}

.banner_menu .bannermenu_right li.time a{
    display: inline-block;
    width: 80px;
    background: #fff;
    color: #ed3124;
    padding: 7px 30px 9px 30px;
    border: 1px solid #fff;
}

.banner_menu .bannermenu_right li.fast{
    margin-right: 0;
}

.banner_menu .bannermenu_right li.fast a{
    display: inline-block;
    width: 80px;
    background-image: linear-gradient(to left, rgb(255, 115, 86), rgb(251, 67, 87));
    color: #fff;
    padding: 7px 30px 9px 30px;
}

.banner_menu li.line::after{
    content: '';
    width: 1px;
    height: 14px;
    background: #fff;
    position: absolute;
    right: -18px;
    top: 2px;
}

/* 슬라이드 시작 */
.slider {
    width: 100%;
    height: 600px;
}

.slider .ss1{
    background: url(img/main_slider02.jpg) no-repeat center center; 
    background-size: cover;
}

.slider .ss2{
    background: url(img/main_slider03.jpg) no-repeat center center; 
    background-size: cover;
}

.slider .ss3{
    background: url(img/main_slider01.jpg) no-repeat center center; 
    background-size: cover;
}

.slider .swiper-slide h2{
    font-size: 62px;
    color: #fff;
    margin-top: 200px;
    line-height: 65px;
    position: relative;
    display: inline-block;
}

.slider .swiper-slide h2::after{
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.4);
    position: absolute;
    left: 0;
    bottom: -18px;
}

.slider .swiper-slide h2 em{
    display: block;
    font-size: 59px;
    font-weight: 100;
}

.slider .swiper-slide p{
    font-size: 27px;
    color: #fff;
    padding-top: 25px;
}

/* 무비 시작 */
#movie {
    background-color: #f8f8f8;
    cursor: pointer;
}

.movie {
    padding: 100px 0;
}

.movie_title {
    margin-bottom: 60px;
}

.movie_title ul{
    overflow: hidden;
    width: 848px;
    margin: 0 auto;
}

.movie_title li{
    float: left;
    width: 210px;
    text-align: center;
    border: 1px solid #c4c4c4c4;
    margin-right: -1px;
}

.movie_title li a{
    display: block;
    padding: 15px 0;
    font-size: 18px;
    color: #666;
    font-weight: 700;
}

.movie_title li a:hover{
    color: #ed3124;
}

.movie_title li.active a{
    background: #666; 
    color: #fff;
}

.movie_chart{
    overflow: hidden;
}

.movie_chart > div > div > div{
    float: left;
    width: 292px;
    margin-right: 18px;
}

.movie_chart > div > div > div:last-child{
    margin-right: 0;
}

.movie_chart > div > div > div .poster{
    position: relative;
}

.movie_chart > div > div > div .poster img{
    display: block;
    cursor: pointer;
}

.movie_chart > div > div > div .poster .rank{
    position: absolute;
    top: 17px;
    left: 0;
    width: 50px;
    height: 50px;
    font-size: 18px;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
    line-height: 50px;
    background-image: linear-gradient(to left, rgb(255, 115, 86), rgb(251, 67, 87));
    text-align: center;
}

.movie_chart > div > div > div .poster .rank strong{
    color: #fff;
}

.movie_chart > div > div > div .poster .mx{
    position: absolute;
    top: 17px;
    right: 17px;
}

.movie_chart > div > div > div .poster .mx span {
    width: 103px;
    height: 25px;
    display: block;
}

.movie_chart > div > div > div .poster .mx .m{
    background-position: 0 -75px;
}

.movie_chart > div > div > div .poster .mx .b{
    background-position: 0 -100px;
}

.movie_chart > div > div > div .infor{
    background: #fff;
    padding: 17px;
    border: 1px solid #d9d9d9;
}

.movie_chart > div > div > div .infor h3{
    color: #333;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.movie_chart > div > div > div .infor h3 span{
    width: 29px;
    height: 29px;
    display: inline-block;
    margin-top: 9px;
    vertical-align: -5px;    
}

.movie_chart > div > div > div .infor h3 span.all {
    background-position: -87px -125px;
}

.movie_chart > div > div > div .infor h3 span.a12 {
    background-position: -58px -125px;
}

.movie_chart > div > div > div .infor h3 span.a13 {
    background-position: 0px -125px;
}

.movie_chart > div > div > div .infor h3 span.a14 {
    background-position: -29px -125px;
}

.movie_chart > div > div > div .infor .infor_btn{
    overflow: hidden;
}

.movie_chart > div > div > div .infor .infor_btn a{
    float: left;
    width: 49%;
    margin-right: 2%;
    text-align: center;
    background: #f2f2f2;
    font-style: 18px;
    padding: 15px;
    box-sizing: border-box;
}

.movie_chart > div > div > div .infor .infor_btn a:last-child{
    margin-right: 0;
}

/* 이벤트 시작 */
.event {
    overflow: hidden;
    padding: 100px 0;
}

.event img {
    display: block;
}

.event h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.event .event_left {
    overflow: hidden;
    float: left; 
    width: 66%;
    margin-right: 2%;
}

.event .event_left .event_box1 {
    float: left; width: 50%;
}

.event .event_left .event_box2 {
    float: left; width: 50%;
}

.event .event_right{
    float: left; 
    width: 32%;
}

/* 오픈 */
#opening{
    margin: 17px 0;
    background: url(img/bg01.jpg) no-repeat center top;
    background-size: cover;
}

.opening{
    padding: 100px 0; text-align: center; color: #bb9b51;
}

.opening h2 .grand{
    background-position: 0 -175px;
    display: inline-block;
    width: 330px;
    height: 50px;
}

.opening .date{
    background-position: 0 -225px;
    display: inline-block;
    width: 260px;
    height: 45px;
}

.opening .desc{
    font-size: 35px;
    font-weight: 300;
    padding-bottom: 20px;
    background: url(img/bar.png) no-repeat bottom center;
    background-size: 100%;
}

.opening .open_box{
    overflow: hidden;
    padding: 20px 3% 0 3%;
}

.opening .open_box > div{
    float: left;
    width: 27.333%;
    margin: 4% 3% 0 3%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
}

.opening .open_box > div h3{
    color: #fff;
    background-image: linear-gradient(to left, rgb(255, 115, 86), rgb(251, 67, 87));
    font-size: 19px;
    font-weight: 300;
    display: inline-block;
    padding: 10px 20px;
    margin-top: -24px;
}

.opening .open_box > div p{
    font-size: 23px;
    color: #fff;
    font-weight: 700;
    padding: 6% 0 10% 0;
}

.opening .open_box > div em{
    display: block;
    font-weight: bold;
}

.opening .open_box > div strong{
    display: block;
    font-weight: 700;
}

/* 새로운영화 */
.new {
    padding: 100px 0;
    position: relative;
}

.new h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.new .new_left{
    position: relative;
    margin-right: 423px;
    height: 500px;
    background: #ccc url(img/new01.jpg) center center;
    background-size: cover;
    cursor: pointer;
}

.new .new_left .play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
}

.new .new_left .play .st0 {
    fill: #fff;
    opacity: 0.3;
}

.new .new_left .play .st1 {
    fill: #fff; 
}

.new .new_right{
    position: absolute;
    right: 0;
    top: 165px;
    width: 400px;
    height: 500px;
    padding: 34px;
    box-sizing: border-box;
    background: #f0f0f0;
}

.new .new_right .title{
    font-size: 28px;
    color: 000;
}

.new .new_right .release{
    font-size: 12px;
    color: #333;
}

.new .new_right .star{
    padding: 13px 0;
}

.new .new_right .star strong{
    font-size: 15px;
    padding-left: 5px;
}

.new .new_right .star span{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -4px;
}

.new .new_right .star .star1{
    background-position: -393px 0;
}

.new .new_right .star .star2{
    background-position: -412px 0;
}

.new .new_right .star .star0{
    background-position: -374px 0;
}

.new .new_right .summary{
    font-size: 14px;
}

.new .new_right .summary .genre{
    padding-bottom: 3px;
}

.new .new_right .summary .age{
    padding-bottom: 10px;
}

.new .new_right .summary .desc{
    margin-bottom: 20px;
    height: 108px;
    overflow: hidden;
}

.new .new_right .select{
    overflow: hidden;
}

.new .new_right .select .s1{
    float: left;
    width: 49%;
    margin-right: 2%;
}

.new .new_right .select .s2{
    float: left;
    width: 49%;
    background: #000;
}

.new .new_right .select .s3{
    float: left;
    width: 100%;
    margin-top: 2%;
}

.new .new_right .btn{
    overflow: hidden;
    margin-top: 2%;
    text-align: center;
}

.new .new_right .btn a{
    float: left;
    width: 49%;
    box-sizing: border-box;
    display: block;
    padding: 10px 30px 12px 30px;
}

.new .new_right .btn a.white{
    background: #fff;
    margin-right: 2%;
    color: #ed3124;
    border: 1px solid #ed3124;
}

.new .new_right .btn a.red{
    background: #ed3124;
    color: #fff;
    border: 1px solid #ed3124;
}

/* help */
.help {
    overflow: hidden;
    padding-bottom: 200px;
}

.help article {
    float: left;
    width: 32%;
    margin-right: 2%;
    height: 350px;
}

.help article > div{
    border: 1px solid #dbdbdb;
    height: 350px;
}

.help article.help_box3 {
    margin-right: 0;
}

.help article.help_box3 > div {
    border: 0;
}

.help article h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* 공지사항 */
.notice {
    position: relative;
    padding: 17px;
}

.notice ul{
    overflow: hidden;
}

.notice ul li{
    float: left;
    text-align: center;
    margin-right: -1px;
}

.notice ul li a{
    border: 1px solid #dbdbdb;
    font-size: 15px;
    color: #666;
    display: block;
    width: 80px;
    padding: 10px 20px;
    background: #f5f5f5;
}

.notice ul li.active a{
    background: #fff;
}

.notice ul li ul{
    position: absolute;
    left: 17px;
    top: 70px;
    width: 90%;
}

.notice ul li ul li{
    text-align: left;
    padding: 17px;
    border-bottom: 1px solid #dbdbdb;
    width: 100%;
    box-sizing: border-box;
}

.notice ul li ul li:last-child{
    border-bottom: 0;
}

.notice ul li ul li dt em{
    color: #999;
}

.notice ul li ul li dt .bar{
    position: relative;
    padding-right: 14px;
}

.notice ul li ul li dt .bar::after{
    content: '';
    position: absolute;
    right: 4px;
    top: 5px;
    width: 1px;
    height: 10px;
    background: #999;
}

.notice ul li ul li dd{
    color: #777;
    padding-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

/* 멤버십 할인 */
.card{
    padding: 17px;
}

.card ul li{
    position: relative;
    border: 1px solid #d7d7d7;
    padding: 17px;
    margin-bottom: 22px;
    min-height: 102px;
    box-sizing: border-box;
}

.card ul li span{
    position: absolute; 
    left: 17px;
    top: 17px;
}

.card ul li span img{
    width: 105px;
}

.card ul li strong{
    display: block;
    font-size: 18px;
    padding-left: 120px;
    color: #777;
}

.card ul li em{
    display: block;
    font-size: 14px;
    padding-left: 120px;
    color: #777;
    font-weight: 300;
}

/* 고객센터 */
.service ul{
    overflow: hidden;
}

.service li{
    float: left;
    width: 50%;
    height: 193px;
    box-sizing: border-box;
    border: 1px solid #d7d7d7;
    text-align: center;
}

.service li a span{
    display: block;
    width: 120px;
    height: 120px;
    margin: 20px auto 0 auto;
    overflow: hidden;
}

.service li a strong{
    color: #666;
    font-size: 18px;
    font-weight: 500;
}

.service li:nth-child(1){
    border-right: 0;
    border-bottom: 0;
}

.service li:nth-child(2){
    border-bottom: 0;
}

.service li:nth-child(3){
    border-right: 0;
}

/* footer */
#footer{
    background: #211f1f;
}

.footer_sns {
    position: absolute; 
    right: 17px; 
    top: 33px; 
    z-index: 1;
}

.footer_sns li {
    display: inline-block; 
    width: 36px; 
    height: 36px; 
    margin-left: 4px;
    cursor: pointer;
}

.footer_sns li.s1 {
    background-position: 0 -375px;
}

.footer_sns li.s2 {
    background-position: -36px -375px;
}

.footer_sns li.s3 {
    background-position: -72px -375px;
}

.footer_sns li.s4 {
    background-position: -108px -375px;
}

.footer_sns li.s5 {
    background-position: -144px -375px;
}

.footer_sns li.s1:hover {
    background-position: 0 -411px;
}

.footer_sns li.s2:hover {
    background-position: -36px -411px;
}

.footer_sns li.s3:hover {
    background-position: -72px -411px;
}

.footer_sns li.s4:hover {
    background-position: -108px -411px;
}

.footer_sns li.s5:hover {
    background-position: -144px -411px;
}

.footer_sns .tel {
    text-align: right; 
    padding-top: 5px;
}

.footer_sns .tel a {
    color: #8f8f8f; 
    font-size: 21px;
}

.footer_sns .tel a em {
    color: #fff;
}

.footer_infor {
    padding: 50px 0; 
    width: 80%;
}

.footer_infor h2 img {
    width: 150px;
}

.footer_infor ul {
    padding: 15px 0;
}

.footer_infor li {
    position: relative; 
    display: inline; 
    padding-right: 16px;
    white-space: nowrap;
}

.footer_infor li:after {
    content: ''; 
    position: absolute; 
    right: 5px; 
    top: 5px; 
    width: 1px; 
    height: 11px;
     background: #8f8f8f;
}

.footer_infor li:last-child:after {
    width: 0; 
    height: 0;
}

.footer_infor li a {
    color: #8f8f8f;
}

.footer_infor address p {
    color: #8f8f8f; 
    padding-bottom: 15px;
}

/* 미디어쿼리 */
@media(max-width:1290px){
    .container {width: 100%;}
    .header .nav ul li {width: 93px;}
    .header .nav ul li a {font-size: 15px; padding: 17px 10px}
    .header h1 em {padding: 11px 8px 5px 0;}
    .header h1 strong {top: 19px;}
    
    .swiper-button-prev, .swiper-button-next {display: none;}
}

@media(max-width:1024px){
    #mNav {display: block;}
    .nav {display: none;}
    .row {padding: 0 24px;}
    .header h1 {float: none; text-align: center;}
    .header h1 strong {left: 24px; top: 20px;}

    .banner_menu .bannermenu_left ul {display: none;}
    .banner_menu .bannermenu_right ul:first-child {display: none;}

    .help article.help_box1 {width: 49%; margin-right: 2%;}
    .help article.help_box2 {width: 49%; margin-right: 0;}
    .help article.help_box3 {width: 100%; margin-top: 2%;}
    .help article {height: auto;}
    .service li {width: 25%; height: auto;}
    .service li:nth-child(1) {border-bottom: 1px solid #d7d7d7;}
    .service li:nth-child(2) {border-bottom: 1px solid #d7d7d7; border-right: 0;}
    .service li a strong {display: block; padding-bottom: 10%;}
}

@media(max-width:960px){
    .slider {height: 500px;}
    .slider .swiper-slide h2 {margin-top: 140px; font-size: 37px;}
    .slider .swiper-slide h2 em {font-size: 34px;}
    .slider .swiper-slide p {font-size: 20px;}
    .slider .swiper-slide h2::after {bottom: -10px;}

    .movie_title ul{width: auto;}
    .movie_title li{width: 25%; box-sizing: border-box;}

    .opening {padding: 50px 0;}
    .opening .open_box {display: none;}
    .opening .desc {font-size: 25px; background: none;}

    .new .new_left {margin-right: 0; height: 400px;}
    .new .new_right {position: relative; top: 0; width: 100%; height: auto;}
    .help {padding-bottom: 0;}
    .help article > div:nth-child(3){height: auto; margin-bottom: 0;}

    .footer_sns {position:static; text-align: center; background: #352c2c; padding-bottom: 15px;}
    .footer_sns .tel {display: none;}
    .footer_infor {width: 100%; text-align: center;}
    .footer_infor h2 img {width: 100px;}
}

@media (max-width: 768px){
    body{background: #d9d7e0;}

    .row {padding: 0 16px;}
    #mNav {right: 20px;}
    .header h1 {text-align: left;}
    .header h1 strong {display: none;}

    #movie {background: none;}
    #movie .row {background: #fff; margin: 24px 24px 0 24px; padding: 24px;}
    #movie .ir_so {position:static; width: auto; height: auto; line-height: normal;
    text-indent: 0; font-size: 24px; font-weight: bold; padding-bottom: 20px;}
    .movie {padding: 0;}
    .movie_title {margin-bottom: 30px;}
    .movie_title ul {position: relative; padding-bottom: 10px;}
    .movie_title ul::before {content: ''; position: absolute; z-index: 1; left: 0; bottom: 0; width: 100%; height: 2px; background: #e1e1e1;}
    .movie_title li {width: auto; border: 0;}
    .movie_title li a {position: relative; font-size: 18px; color: #666; font-weight: 400; padding: 0; margin-right: 35px;}
    .movie_title li.active a::before {content: ''; position: absolute; z-index: 2; left: 0; bottom: -10px; width: 100%; height: 2px; background: #666;} 
    .movie_title li.active a {background: none; color: #666;}

    #event .row {padding: 24px;}
    .event {padding: 24px; background-color: #fff;}
    .event h2 {font-style: 24px; font-weight: 700;}
    .event .event_left {width: 100%; margin: 0;}
    .event .event_right {display: none;}

    #opening {margin: 0;}

    #new .row {padding: 0 24px;}
    .new {padding: 24px; background-color: #fff; margin-top: 24px;}
    .new h2 {font-size: 24px; font-weight: 700; height: 27px; margin-bottom: 20px; padding-bottom: 10px;}
    .new .new_right {padding: 24px;}

    .help .row {padding: 0 24px;}
    .help {padding-bottom: 24px;}
    .help article.help_box1 {padding: 24px; box-sizing: border-box; width: 100%; background: #fff; margin-right: 0; margin-top: 24px;}
    .help article.help_box2 {padding: 24px; box-sizing: border-box; width: 100%; background: #fff; margin-right: 0; margin-top: 24px;}
    .help article.help_box3 {box-sizing: border-box; width: 100%; background: #fff; margin-top: 0; margin-top: 24px;}
    .help article.help_box1 h3 {font-size: 24px; font-weight: 700; height: 27px; margin-bottom: 20px; padding-bottom: 10px;}
    .help article.help_box2 h3 {font-size: 24px; font-weight: 700; height: 27px; margin-bottom: 20px; padding-bottom: 10px;}
    .help article.help_box3 h3 {display: none;}
    .help article.help_box3 > div {height: auto;}
    .service li {border: none;}
}

@media(max-width:600px){
    .slider {height: 400px;}
    .slider .swiper-slide h2 {margin-top: 140px; font-size: 24px; line-height: 30px;}
    .slider .swiper-slide h2:after {bottom: -5px;}
    .slider .swiper-slide h2 em {font-size: 20px;}
    .slider .swiper-slide p {font-size: 14px; padding-top: 25px;}

    .banner_menu {top: 16px;}
    .banner_menu .bannermenu_right li.time a {font-style: 14px; padding: 3px 5px 5px 5px; color: #fff; background: rgba(0, 0, 0, 0.6); border: solid 1px #fff;}
    .banner_menu .bannermenu_right li.fast a {font-style: 14px; padding: 3px 5px 5px 5px; color: #fff; background: rgba(0, 0, 0, 0.6); border: solid 1px #fff;}
    .swiper-pagination-bullet {width: 13px !important; height: 13px !important;}

    #movie .container::after {content: ''; position: absolute; z-index: 20; top: 0; right: 0; width: 8px; height: 100%; background: #d9d7e0;}
    #movie .row {position: relative; margin: 8px; padding: 16px; margin-right: 0; padding-right: 0;}
    #movie .row::after {content: ''; position: absolute; top: 0; right: 0; z-index: 10; width: 24px; height: 100%; background: #fff;}
    #movie .ir_so {font-size: 18px; padding-bottom: 10px;}
    .movie_title {margin-bottom: 20px;}
    .movie_title ul {padding-bottom: 8px; white-space: nowrap; overflow-x: auto;}
    .movie_title li a {font-size: 14px; margin-right: 15px;}
    .movie_title li.active a::before {bottom: -8px;}
    .movie_chart {position: relative; z-index: 30;}
    .movie_chart > div > div > div .infor {padding: 5px;}
    .movie_chart > div > div > div .infor h3 {text-align: center; margin: 5px 0 10px;}
    .movie_chart > div > div > div .infor h3 strong {display:block; font-size: 19px; color: #222; font-weight: 300;}
    .movie_chart > div > div > div .infor h3 span {display: none;}
    .movie_chart > div > div > div .infor .infor_btn a {width: 52%; margin-left: 24%; display: block; margin-right: 0; padding: 5px; 
        color: #777; margin-bottom: 5px; box-sizing: border-box; font-size: 14px; background: none; border: 1px solid #ddd;}
    .movie_chart > div > div > div .infor .infor_btn a:last-child {display: none;}

    #event .row {padding: 0 8px;}
    .event {padding: 16px;}
    .event h2 {font-size: 18px; margin-bottom: 10px;}

    #opening {margin: 8px 0;}
    .opening {padding: 20px 0;}
    .opening h2 .grand {background-size: 200px; background-position: 0 -70px; width: 151px; height: 16px;}
    .opening .date {display: none;}
    .opening .desc {font-size: 16px; font-weight: 400; padding-bottom: 0;}

    #new .row {padding: 0 8px;}
    .new {padding: 16px; margin-top: 8px;}
    .new h2 {font-size: 18px; margin-bottom: 0;}
    .new .new_left {height: 300px;}
    .new .new_right {padding: 17px;}
    .new .new_right .title {font-size: 22px;}
    .new .new_right .star {padding: 9px 0;}
    .new .new_right .select .s1 {width: 100%; margin-right: 0; margin-bottom: 2%;}
    .new .new_right .select .s2 {width: 100%;}

    #help .row {padding: 0 8px;}
    .help article.help_box1 {margin-top: 8px; padding: 16px;}
    .help article.help_box2 {margin-top: 8px; padding: 16px;}
    .help article.help_box3 {margin-top: 8px;}
    .help article.help_box1 h3 {font-size: 18px; margin-bottom: 0;}
    .help article.help_box2 h3 {font-size: 18px; margin-bottom: 0;}
    .card {padding: 8px;}
    .service li {width: 50%;}
    .service li:nth-child(1) {border-right: 1px solid #d7d7d7;}
    .service li:nth-child(3) {border-right: 1px solid #d7d7d7;}
}

@media(max-width:320px){
    .movie_title ul {white-space: nowrap; overflow-x: auto;}
    .movie_title li a {margin-right: 9px; font-size: 12px;}

    .notice {padding: 8px;}
    .notice ul li a {width: 65px;}
    .notice ul li ul {left: 9px; top: 56px;}
    .notice ul li ul li {padding: 8px;}
    .help article > div {height: 287px;}
    .card ul li {padding: 8px; margin-bottom: 8px; min-height: 90px;}
    .card ul li span img {width: 60px;}
    .card ul li span {left: 11px; top: 10px;}
    .card ul li strong {padding-left: 75px; font-size: 14px;}
    .card ul li em {padding-left: 70px;}
    .service li a span {width: 70px; height: 70px;}
    .service li a strong {font-size: 14px;}
}

